
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

/*SECTION 1*/

.section-1 {
	color: #f4f7f9;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;
	min-height: 600px;
	background: url(../images/section-1/bg.jpg) no-repeat center;
	background-size: cover;
}
.header {
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 86%;
	position: relative;
}
.menu {
	width: 60%;

}
.menu ul{
	
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.menu-link {
	color: #fff;
	text-decoration: none;
}
.section-1 .main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	position: relative;
	text-align: center;

}
.section-1 .main-text h1 {
	font-size: 8em;
	display: inline-block;
	margin: -1em;
}
.section-1 .main-text span {
	font-weight: bold;
	font-size: 1.3em;
	letter-spacing: 15px;
	display: inline-block;
	color: #1a6486;
}
.main-arrow {
	margin: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;
}
.arrow-down {
	text-transform: uppercase;
	width: 1.3em;
	font-size: 2em;
	text-align: center;
	color: #fff;
	border: 1px solid #f4f7f9;
	border-radius: 50%;
	margin: 0;
	padding: 0;
}
.arrow-down a {
	text-decoration: none;
	color: #fff;
}
.arrow-text {
	font-size: 0.7em;
}

/*SECTION 2-1*/

.section-2-1 {
	background-color: #11749e;
	height: 80vh;
	min-height: 600px;
}
.main-text-all {
	text-align: center;
}
.main-text-all h1 {
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	font-size: 15em;
	color: #5993b2;
}
.main-text-all p {
	font-size: 2em;
	font-weight: bold;	
	text-transform: uppercase;
	margin: -5em;
	color: #f4f7f9;
}
.features {
	margin-top: 25em;
	font-size: 0.8em;
	color: #f4f7f9;
	margin-left: 7%;
	text-align: center;
	align-items: center;
	align-content: center;
	width: 86%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.feature h4 {
	margin: 3.3em 0 0 0;
	text-transform: uppercase;
}
.feature span {
	font-size: 1.5em;
	background-color: #2e85aa;
	padding: 30px;
	border-radius: 50%;
}
.feature {
	margin-right: 5px;
	width: 200px;
}

/*SECTION 2*/

.section-2-2 {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.horizontal {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.horizontal .hor-text {
	
	display: block;
	/*width: 86%;*/
	height: auto;
	padding: 5%;
}
.horizontal .hor-text h4 {
	text-transform: uppercase;
}
.horizontal .hor-text-1 {
	color: #fff;
	margin: 0 7% 0 14%;
}
.horizontal .hor-text-2 {
	margin: 0 14% 0 7%;
}
.horizontal-1 {
	background-color: #222222;
}
.horizontal-2 {
	background-color: #f3f3f3;
}
.horizontal img {
	margin: auto;
	width: 100%;
	height: 100%;
}












/*SECTION 3*/

.section-3 {
	width: 86%;
	margin-left: 7%;
	background-color: #fff;
	height: 80vh;
	min-height: 600px;
}
.main-text-all-3 {
	text-align: center;
}
.main-text-all-3 h1 {
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	margin: 0;
	font-size: 15em;
	color: #e2e2e2;
}
.main-text-all-3 p {
	font-size: 2em;
	font-weight: bold;	
	text-transform: uppercase;
	margin: -5em;
	color: #000;
}
.blogers {
	margin-top: 5em;
	font-size: 0.8em;
	color: #000;
	margin-left: 7%;
	text-align: center;
	align-items: center;
	align-content: center;
	width: 86%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bloger h4 {
	color: #11749e;
	margin: 3.3em 0 0 0;
	text-transform: uppercase;
}
.bloger span img {
	height: 5%;
	width: auto;
}
.bloger {
	margin-right: 5px;
	width: 200px;
}
.submain-text-all {
	text-align: center;
	margin-top: 16em;
}

/*SECTION 3 */

.pre-section-4 {
	margin-top: 20em;
	display: flex;
	background-color: #11749e;
	height: 40vh;
	color: #fff;
}
.table {
	margin-top: 5.5em;
	display: flex;
	width: 86%;
	margin-left: 7%;
	text-align: center;
}
.table-element {
	text-align: left;

	margin-right: 20px;
}
.table-element span {
	font-size: 4.5em;
}


/*SECTION 5*/

.section-4 {
	display: flex;
	color: #fff;
	background: url(../images/section-4/bg.jpg) no-repeat center;
	height: 120vh;
	min-height: 600px;
	background-size: cover;
}
.text-4 {
	width: 86%;
	margin-left: 7% ;
	color: #fff;
}
.text-4 h4{
	margin-top: 10em;
	text-transform: uppercase;
}
.text-4 p{
	margin: 0;
}
.smartphone {
	margin-left: auto;
	margin-right: 7%;
}
.smartphone img {
	margin-top: 5em;
	height: 60%;
	width: auto;
}
.table-answer {
	display: flex;
	flex-flow: column;
	justify-content: space
}
.table-subanswer-1 {
	background-color: #11749e;
	width: 30%;
	color: #fff;
	padding: 5px;
}
.table-subanswer-2 {
	background-color: #11749e;
	width: 35%;
	color: #fff;
	padding: 5px;
}
.table-subanswer-3 {
	background-color: #11749e;
	width: 40%;
	color: #fff;
	padding: 5px;
}
.section-4 .text-4 .about {
	width: 50%;
}

/*SECTION 5*/

.teammates {
	width: 86%;
	margin-left: 7%;
	display: flex;
	justify-content: space-between;
}
.teammate img {
	width: 100%;
	height: auto;
}
.teammate figure {
	position: relative;
	width: 70%;
	height: 70%;
}
.teammate figcaption {
	text-align: center;
	position: relative;
	margin: 0 10px;
	padding: 15px 5px;
	bottom: 15%;
	background-color: #fff;
	/*padding: 5px 5px 5px 5px;*/
	color: #000;
}
.facename {
	color: #11749e;
}

/*SECTION 6*/

.section-6 {
	background: url(../images/section-6/bg.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	width: auto;
}
.main-text-all-6 {
	text-align: center;
}
.main-text-all-6 h1 {
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	margin: 0;
	font-size: 15em;
	color: #616161;
	/*opacity: 0.7;*/
}
.main-text-all-6 p {
	font-size: 2em;
	font-weight: bold;	
	text-transform: uppercase;
	margin: -5em;
	color: #fff;
}

/*inputs*/

.form-style-1 {

	display: flex;
	flex-flow: column nowrap;
	margin:10px auto;
	max-width: 86%;
	font: 13px Arial, sans-serif;
	margin-top: 20em;
	justify-content: center;
}
.form-style-1 .form-style-1-1 {

	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;
}
.form-style-1 .form-style-1-1 input {
	flex-basis: 31%;
}
.form-style-1 li {

	padding: 0;
	display: block;
	list-style: none;
	margin: 2em 0 0 0;
}
.form-style-1 input, textarea{

	background: none;
	box-sizing: border-box;
	border: 1px solid #fff;
	padding: 1.3%;
}
.form-style-1 input:focus,
.form-style-1 textarea:focus{
	border: 1px solid #88D5E9;

}
.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 10em;
}
.form-style-1 input[type=submit]{
	padding: 0.8em 2.4em; 
	margin-left: 43%;
	font-size: 1.5em;
	text-transform: uppercase;
	/*font-weight: bold;*/
	background: #11749e;
	border: none;
	color: #fff;
}
.form-style-1 input[type="text"], input[type="email"], input[type="tel"], textarea{
	color: #fff;
}

/*MAP*/

.map {
	background: url("../images/section-6/map.gif") no-repeat center;
	width: auto;
	background-size: cover;
	
	height: 357px;
}

.footer {
	background-color: #222;
	color: #fff;
	font-size: 80%;
	padding: 2%;
	margin: 0;
}
.footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.footer .footer-text-2 img {
	width: 10%;
	height: auto;
}

